@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f5f3;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 30px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 2;
  margin: auto;
}

h1::after {
  content: "";
  display: block;
  width: 100px;
  margin: auto;
  border-bottom: 4px solid #49A6E9;
}

.cardWrapper {
  margin: 20px 0;
}

.buttonWrapper {
  margin: 40px auto;
}

